<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Langly</title>
    <link rel="stylesheet" href="bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app" v-cloak class="container-fluid">
        
        <header class="d-md-flex">
          <h1 class="mr-3" style="width:40px;"><img class="logo" alt="Langly" src="icons/icon.png" srcset="icons/icon.png 1x, icons/icon@2x.png 2x"></h1>
          
          <div class="mr-3">
            <input type="search" v-model="query" class="form-control" placeholder="Search for key">
          </div>
          
          
          <div v-if="numLangs > 0" class="btn-group mr-3">
            <!--<button class="btn btn-secondary" :class="{'active': lang_key == selectedLangKey}" v-for="(lang, lang_key) in langs" @click="selectedLangKey = lang_key">{{ lang_key }}</button>-->
            <select class="form-control" v-model="selectedLangKey">
              <option v-for="(lang, lang_key) in langs" :value="lang_key">
                {{ lang_key }}
              </option>
            </select>
          </div>
          
          <div class="input-group mr-3" style="flex:0;">
            <input style="width:50px" @keydown.enter="addLang()" type="text" class="form-control" placeholder="xx" v-model="newLangName">
            <span class="input-group-btn">
              <button @click="addLang()" class="btn btn-secondary">➕</button>
            </span>
          </div>
          
          
          <div class="d-flex ml-auto">
            <button class="btn btn-secondary mr-3" @click="open()">Open</button>
            <button class="btn btn-secondary mr-3" @click="reload()">Reload</button>
            <button class="btn btn-primary" @click="save()">Save</button>
          </div>
        </header>
        
        
        <div v-if="rootDir">
          <div class="lang-items" v-if="selectedLangKey">
            <div :class="{'has-warning': !item.value || item.value == ''}" class="form-group row" v-for="(item, index) of filteredLangItems">
              <label :for="'key-'+index" class="col-form-label col-sm-6 text-right">
                <span class="badge badge-danger" v-if="missingKeys.indexOf(item.key) > -1">Not in lang file</span>
                <span class="badge badge-info" v-if="extraKeys.indexOf(item.key) > -1">Not in app</span>
                <a style="color:#fff; float:left;" @click="showFound(item.key)" class="badge badge-info" v-if="scannedKeysFound[item.key]">{{ scannedKeysFound[item.key].length }}</a>
                {{ item.key }}
              </label>
              <div class="col-sm-6">
                <textarea rows="1" :id="'key-'+index" class="form-control" :value="item.value" @input="updateValue(item.key, $event.target.value);"></textarea>
              </div>
            </div>
          </div>
          <div v-else>
            Found {{ allKeys.length }} keys in the app. Start by adding a lang file
          </div>
        </div>
        <div v-else>
          Select a Laravel app or just drop the directory in the app
        </div>
        
        <div class="custom-modal-backdrop" v-show="showModal" @click.self="closeModal">
          <div class="custom-modal" v-show="showModal">
            <button type="button" class="close" title="Close" @click.prevent="closeModal">
              <span aria-hidden="true">&times;</span>
            </button>
            <div v-if="scannedKeysFoundSelected">
              <h3>Found in</h3>
              <table>
                <tr v-for="(value, key) in scannedKeysFoundSelected">
                  <td><span class="badge badge-info">{{ value }}</span></td>
                  <td>{{ key }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
    </div>
      
  
  </body>
  <script src="node_modules/vue/dist/vue.min.js"></script>
  <script>
    require('./renderer.js');
  </script>
</html>
