<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Settings | Langly</title>
    <link rel="stylesheet" href="bootstrap.min.css">
  </head>
  <body>
    
    <div class="container-fluid" id="pref">
      <h1>Preferences</h1>
      
      <div class="form-group row">
        <label class="col-5 col-form-label">Spaces on save</label>
        <div class="col-7">
          <input type="number" class="form-control" v-model="saveIndentation">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-5 col-form-label">Sort keys on save</label>
        <div class="col-7">
          <input type="checkbox" v-model="sortKeysOnSave">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-5 col-form-label">Base language</label>
        <div class="col-7">
          <input type="text" class="form-control" v-model="baseLanguage">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-5 col-form-label">Search for functions</label>
        <div class="col-7">
          <div v-for="func in possibleFunctions">
            <label><input type="checkbox" :value="func" v-model="functionSearch"> {{ func }}</label>
          </div>
        </div>
      </div>
      <div class="form-group text-right">
        <button @click="save" class="btn btn-primary">Save preferences</button>
      </div>
    </div>
    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script>
    const config = require('./config.js');
    const pref = new Vue({
      el: "#pref",
      data:{
        saveIndentation: config.get('saveIndentation'),
        sortKeysOnSave: config.get('sortKeysOnSave'),
        baseLanguage: config.get('baseLanguage'),
        functionSearch: config.get('functionSearch'),
        possibleFunctions: ['__', 'trans', 'trans_choice', 'Lang::get', 'Lang::choice', 'Lang::trans', 'Lang::transChoice', '@lang', '@choice']
      },
      methods:{
        save(){
          config.set('saveIndentation', this.saveIndentation);
          config.set('sortKeysOnSave', this.sortKeysOnSave);
          config.set('baseLanguage', this.baseLanguage);
          config.set('functionSearch', this.functionSearch);
          alert("🙌 Preferences saved");
        }
      }
    });
    
    </script>
  </body>
</html>
