[v-cloak]{
  display: none;
}
body{
  overflow: hidden;
}
#app{
  display: flex;
  flex-direction: column;
  height: 100vh;
  display: relative;
}
header{
  border-bottom: 1px solid #ccc;
  background: #DBE7E2;
  padding: 15px;
}
header h1{
  font-size: 1.7em;
}

.main{
  padding: 15px;
  overflow: scroll;
  flex: 1;
}

.badge-num-found{
  color: #fff !important;
  float: left;
}
.badge-not-found{
  float: left;
}

.lang-items .row{
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
.logo{
  max-width: 100%;
  height: auto;
}
.custom-modal{
  min-width: 400px;
  background: #fff;
  padding: 15px;
  margin: auto;
  max-width: 100vw;
  overflow: scroll;
  max-height: 100vh;
}
.custom-modal-backdrop{
  z-index: 10000;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0,0,0,0.3);
  display: flex;
}